{% extends './../base.html' %}

{% block content %}
<div class="align-middle">
<div class="w-25 p-3">
<div class ="container">
<form action="/forgot-password/" method="post">
    
    <div class="form-floating mb-3">
        {{form.new_password}}
        <label for="new_password">New Password</label>
    </div>
    <div class="form-floating mb-3">
        {{form.confirm_new_password}}
        <label for="confirm_new_password">Confirm Password</label>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" style="width:100%">
</form>
</div>
</div>
</div>

{% endblock %}